__pycache__/
*.py[oc]
*.so
*.egg-info/
*.egg
build/
dist/
wheels/
*.spec
*.manifest
.coverage
.coverage.*
coverage.xml
htmlcov/
.cache
.pytest_cache/
pytestdebug.log
.hypothesis/
.tox/
.nox/
.env
.env.*
!.env.example
secrets.toml
.venv
venv
env
ENV
.spyderproject
.spyproject
.ropeproject
site/
.ipynb_checkpoints
.DS_Store
.ruff_cache/
.mypy_cache/
file2md
output.mmd
conversion.log
output
**/VPS-README.md